<div class="adventures">
  <div class="adventures__main">
    <img class="adventures__main__image" src="/images/image15.jpg" />
    <p class="adventures__main__number">/ 02</p>
    <p class="adventures__main__title">
      Arizona Ultimate Adventure - Grand Canyon & Beyond
    </p>
    <p class="adventures__main__details">TRAVEL / AUGUST 21 2017</p>
    <div class="adventures__main__slider">
      <img class="adventures__main__slider__item" src="/images/oval.png" />
      <img
        class="adventures__main__slider__item"
        src="/images/oval-marked.png"
      />
      <img class="adventures__main__slider__item" src="/images/oval.png" />
      <img class="adventures__main__slider__item" src="/images/oval.png" />
    </div>
  </div>

  <div class="adventures__side">
    <div class="adventures__side__item">
      <img class="adventures__side__image" src="/images/image16.jpg" />
      <p class="adventures__side__title">
        Arizona Ultimate Adventure - Grand Canyon & Beyond
      </p>
      <p class="adventures__side__details">TRAVEL / AUGUST 21 2017</p>
    </div>

    <div class="adventures__side__item">
      <img class="adventures__side__image" src="/images/image17.jpg" />
      <p class="adventures__side__title">
        Arizona Ultimate Adventure - Grand Canyon & Beyond
      </p>
      <p class="adventures__side__details">TRAVEL / AUGUST 21 2017</p>
    </div>
  </div>
</div>
