<header>
  <img class="header-logo" src="/images/logo.png" />

  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item"><a href="">Features</a></li>
      <li class="navbar__item"><a href="">Fashion</a></li>
      <li class="navbar__item"><a href="">Music</a></li>
      <li class="navbar__item"><a href="">Design</a></li>
      <li class="navbar__item"><a href="">Travel</a></li>
      <li class="navbar__item"><a href="">Style</a></li>
      <li class="navbar__item"><a href="">People</a></li>
    </ul>
  </nav>

  <aside class="social-bar">
    <a class="social-bar__item" href=""> <img src="/images/facebook.png" /> </a>
    <a class="social-bar__item" href=""> <img src="/images/twitter.png" /> </a>
    <a class="social-bar__item" href="">
      <img src="/images/instagram.png" />
    </a>
    <a class="social-bar__item" href=""> <img src="/images/more.png" /> </a>
  </aside>

  <div class="search">
    <a href=""> <img scr="/images/search.png" /> </a>
  </div>
</header>
